.weather-display {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid #e3e0e0;
    border-radius: 10px;
    background-color: #1e1d1d;
}

img {
    width: 150px;
    height: 150px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: white;
}

.temp,
.feels,
.desc,
.humidity,
.wind {
    margin: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
}